.sidebar {
  flex: 0 0 175px;
  width: 175px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  align-self: flex-start;
}

.head {
  margin-bottom: 30px;
  font-weight: bolder;
  color: black;
  font-size: 35px;
  line-height: 1;
}
.head:hover {
  cursor: pointer;
  color: black;
}

.items {
  margin-top: 10px;
}

.link {
  color: black;
}
.link:hover {
  color: black;
}

.instaLogo {
  border: 3px solid white;

  width: 40px;
  margin-right: 10px;
  border-radius: 7px;
}

.twitterLogo {
  border: 3px solid white;

  width: 40px;
  border-radius: 7px;
}

.instaLogo:hover {
  cursor: pointer;
  animation: iconHover 1s;
  animation-fill-mode: forwards;
}

.twitterLogo:hover {
  cursor: pointer;
  animation: iconHover 1s;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    text-align: center;
    flex: 100%;
    top: 0px;
    position: static;
    margin: 0px;
    margin-bottom: 20px;
  }
  .head {
    margin-bottom: 0px;
  }
  .items {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

@keyframes iconHover {
  from {
    padding: 0px;
  }
  to {
    border: 0px solid rgb(255, 255, 255);
    /* padding: 5px; */
  }
}
