.flexContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.flexItemRight {
  flex: 50%;
  margin-right: 10%;
}

@media only screen and (max-width: 600px) {
  .flexContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
  }
  .flexItemRight {
    text-align: center;
    flex: 60%;
    margin-right: 10%;
    margin-left: 10%;
  }
}
