.flexContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.flexItemRight {
  flex: 80%;
}

@media only screen and (max-width: 600px) {
  .flexContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
  }
}
