.flexContainer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
}

.column {
  flex: 25%;
  padding: 5px;
}

.columnTwo {
  flex: 25%;
  padding: 5px;
}

.images {
  width: 100%;
  vertical-align: middle;
  padding: 5px 0px 0px 0px;
}

.images:hover {
  cursor: pointer;
}

@media only screen and (max-width: 730px) {
  .flexContainer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
  }
  .column {
    flex: calc(90% - 175px);
    padding: 0px;
  }

  .columnTwo {
    margin-left: 205px;
    padding: 0px;
  }

  .images {
    padding: 5px 10px 5px 0px;
  }
}

@media only screen and (max-width: 600px) {
  .flexContainer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
  }
  .column {
    flex: 100%;
    padding: 0px;
  }

  .columnTwo {
    flex: 100%;
    padding: 0px;
    margin-left: 0px;
  }

  .images {
    width: 100vw;
    vertical-align: middle;
    padding: 5px 0px 5px 0px;
  }
}

.fadeIn {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: rotateX(-30deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* -----------------------------------------------------MODAL--------------------------------------------------------- */

.modalBase {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.95);
  height: 100vh;
  width: 100vw;
  z-index: 1;
  top: 0;
  overflow: hidden !important;
  animation-duration: 1s;
  animation-name: modalBaseFadeIn;
}

@keyframes modalBaseFadeIn {
  from {
    z-index: 100;
    opacity: 0;
  }

  to {
    z-index: 100;
    opacity: 1;
  }
}

.modalBaseFadeOut {
  position: absolute;
  z-index: 1;
  top: 0;
  background-color: rgb(0, 0, 0, 0.95);
  overflow: hidden !important;
  animation-duration: 0.4s;
  animation-name: modalBaseFadeOut;
  /* animation-fill-mode: forwards; */
}

@keyframes modalBaseFadeOut {
  0% {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.95);
    overflow: auto !important;
    opacity: 1;
  }
  100% {
    height: 100vh;
    width: 100vw;
    opacity: 0;
    overflow: scroll;
    display: none;
  }
}

.imageModalContainer {
  margin: 0;
  position: absolute;
  max-width: 90vw;
  max-height: 90vw;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100 !important;
}

.modalImageFadeIn {
  margin: 0;
  position: absolute;
  max-width: 90vw;
  max-height: 90vw;
  min-width: 80vw;
  transform: translate(-50%, -50%);
}

.modalImageForward {
  margin: 0;
  /* opacity: 0.2; */
  position: absolute;
  max-width: 90vw;
  max-height: 90vw;
  min-width: 80vw;

  transform: translate(-50%, -50%);

  animation: imageFadeInForward 1.1s;
  -moz-animation: imageFadeInForward 1.1s; /* Firefox */
  -webkit-animation: imageFadeInForward 1.1s; /* Safari and Chrome */
  -o-animation: imageFadeInForward 1.1s; /* Opera */
  /* animation-fill-mode: forwards; */
  overflow-x: hidden !important;
}

.prevModalImageForward {
  opacity: 1;
  margin: 0;
  position: absolute;
  max-width: 90vw;
  max-height: 90vw;
  min-width: 80vw;

  transform: translate(-50%, -50%);

  animation: imageFadeOutForward 1.1s;
  animation-name: imageFadeOutForward;
  -moz-animation: imageFadeOutForward 1.1s; /* Firefox */
  -webkit-animation: imageFadeOutForward 1.1s; /* Safari and Chrome */
  -o-animation: imageFadeOutForward 1.1s; /* Opera */
  animation-fill-mode: forwards;
}

@keyframes imageFadeInForward {
  from {
    transform: translate(100%, -50%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes imageFadeOutForward {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-200%, -50%);
  }
}

.modalImageBackward {
  margin: 0;
  /* opacity: 0.2; */
  position: absolute;
  max-width: 90vw;
  max-height: 90vw;
  min-width: 80vw;

  transform: translate(-50%, -50%);

  animation: imageFadeInBackward 1.1s;
  -moz-animation: imageFadeInBackward 1.1s; /* Firefox */
  -webkit-animation: imageFadeInBackward 1.1s; /* Safari and Chrome */
  -o-animation: imageFadeInBackward 1.1s; /* Opera */
  /* animation-fill-mode: Backwards; */
  overflow-x: hidden !important;
}

.prevModalImageBackward {
  opacity: 1;
  margin: 0;
  position: absolute;
  max-width: 90vw;
  min-width: 80vw;
  max-height: 90vw;
  transform: translate(-50%, -50%);

  animation: imageFadeOutBackward 1.1s;
  animation-name: imageFadeOutBackward;
  -moz-animation: imageFadeOutBackward 1.1s; /* Firefox */
  -webkit-animation: imageFadeOutBackward 1.1s; /* Safari and Chrome */
  -o-animation: imageFadeOutBackward 1.1s; /* Opera */
  animation-fill-mode: forwards;
}

@keyframes imageFadeInBackward {
  from {
    transform: translate(-170%, -50%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes imageFadeOutBackward {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(100%, -50%);
  }
}

.leftArrow {
  position: absolute;
  background-color: rgb(225, 225, 225, 0.2);
  border-radius: 5px;
  top: 50%;
  left: 10%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  z-index: 500;
}

.rightArrow {
  position: absolute;
  background-color: rgb(225, 225, 225, 0.2);
  border-radius: 5px;
  top: 50%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  right: 10%;
  z-index: 500;
}

.leftArrow:hover {
  cursor: pointer;
  background-color: rgb(225, 225, 225, 0.2);

  animation: buttonFadeIn 1s;
  -moz-animation: buttonFadeIn 1s; /* Firefox */
  -webkit-animation: buttonFadeIn 1s; /* Safari and Chrome */
  -o-animation: buttonFadeIn 1s; /* Opera */
  animation-fill-mode: forwards;
}

.rightArrow:hover {
  cursor: pointer;
  animation: buttonFadeIn 1s;
  -moz-animation: buttonFadeIn 1s; /* Firefox */
  -webkit-animation: buttonFadeIn 1s; /* Safari and Chrome */
  -o-animation: buttonFadeIn 1s; /* Opera */
  animation-fill-mode: forwards;
}

@keyframes buttonFadeIn {
  from {
    background-color: rgb(225, 225, 225, 0.2);
  }
  to {
    background-color: rgba(141, 141, 141, 0.8);
  }
}
